.loading {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 45px 0;
}
.loading--small {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.loading__icon{
	display: inline-block;
	width: 64px;
	height: 64px;
}
.loading__icon::after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #ccc;
	border-color: #ccc transparent #ccc transparent;
	animation: loading-animation 1.2s linear infinite;
}
@keyframes loading-animation{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
